h1{
    color: rgba(36, 144, 187, 0.849);
    border: 2px solid crimson;
    border-bottom-color: darkgreen;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5%;
    margin: 2% 10%;
    text-align: center;
}

p{
    color: #f3b748ce;
    margin: 30px 40px 50px 10px;
}